# Import functions

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Filter all data on startYear >= 2010 & titleType = Movies

# Load Title_basics

DataFrame with the information of the movies

In [ ]:
#Load dataset
title_basics = pd.read_csv('/content/drive/MyDrive/My project/Dataset TSV/title.basics.tsv', sep='\t', index_col = 'tconst', low_memory=False)

In [ ]:
title_basics

           titleType  ...                    genres
tconst                ...
tt0000001      short  ...         Documentary,Short
tt0000002      short  ...           Animation,Short
tt0000003      short  ...  Animation,Comedy,Romance
tt0000004      short  ...           Animation,Short
tt0000005      short  ...              Comedy,Short
...              ...  ...                       ...
tt9916848  tvEpisode  ...       Action,Drama,Family
tt9916850  tvEpisode  ...       Action,Drama,Family
tt9916852  tvEpisode  ...       Action,Drama,Family
tt9916856      short  ...                     Short
tt9916880  tvEpisode  ...   Animation,Comedy,Family

[8034020 rows x 8 columns]

In [ ]:
title_basics.isna().sum()

titleType          0
primaryTitle       9
originalTitle      9
isAdult            0
startYear          0
endYear            0
runtimeMinutes     0
genres            10
dtype: int64

In [ ]:
title_basics= title_basics.dropna()
title_basics.isna().sum()

titleType         0
primaryTitle      0
originalTitle     0
isAdult           0
startYear         0
endYear           0
runtimeMinutes    0
genres            0
dtype: int64

In [ ]:
title_basics.startYear.value_counts()

\N      904877
2018    397369
2017    394832
2019    377921
2016    374567
         ...
1885         1
1881         1
1874         1
1883         1
1877         1
Name: startYear, Length: 149, dtype: int64

In [ ]:
title_basics = title_basics[title_basics['startYear'] != r'\N']
title_basics = title_basics[title_basics['genres'] != r'\N']

In [ ]:
title_basics.startYear.value_counts()

2017    372767
2016    358230
2018    355939
2015    340000
2019    339915
         ...
1877         1
1883         1
1881         1
1885         1
1874         1
Name: startYear, Length: 148, dtype: int64

In [ ]:
title_basics['startYear'] = title_basics['startYear'].astype(int)

In [ ]:
title_basics.dtypes

titleType         object
primaryTitle      object
originalTitle     object
isAdult           object
startYear          int64
endYear           object
runtimeMinutes    object
genres            object
dtype: object

In [ ]:
title_basics = title_basics\
                .loc[(title_basics['startYear'] >= 2010) & (title_basics['titleType'] == 'movie')]\
                .sort_values(by=['startYear'])
    
title_basics

           titleType  ...                    genres
tconst                ...
tt1711493      movie  ...              Action,Drama
tt1772860      movie  ...      Comedy,Drama,Romance
tt1772864      movie  ...             Drama,Romance
tt1772868      movie  ...               Documentary
tt3113188      movie  ...               Documentary
...              ...  ...                       ...
tt10300398     movie  ...  Action,Adventure,Fantasy
tt10530670     movie  ...               Documentary
tt14115422     movie  ...               Documentary
tt13907072     movie  ...          Adventure,Sci-Fi
tt5637536      movie  ...    Action,Adventure,Drama

[177926 rows x 8 columns]

# Load title_ratings

Merge rating DataFrame with the movies DataFrame

In [ ]:
title_ratings = pd.read_csv('/content/drive/MyDrive/My project/Dataset TSV/title.ratings.tsv', sep='\t', index_col = 'tconst')

In [ ]:
title_ratings

           averageRating  numVotes
tconst
tt0000001            5.7      1715
tt0000002            6.0       211
tt0000003            6.5      1477
tt0000004            6.1       124
tt0000005            6.2      2278
...                  ...       ...
tt9916682            5.6         5
tt9916690            6.6         5
tt9916720            5.6       102
tt9916766            6.9        18
tt9916778            7.6        28

[1166893 rows x 2 columns]

In [ ]:
title_basics = pd.merge(title_basics,title_ratings, on = 'tconst', how='inner')
title_basics

           titleType  ... numVotes
tconst                ...
tt1711493      movie  ...       23
tt1772860      movie  ...       29
tt1772864      movie  ...      320
tt1772924      movie  ...        9
tt1468387      movie  ...     2625
...              ...  ...      ...
tt10738906     movie  ...       26
tt13556254     movie  ...       53
tt12184602     movie  ...        8
tt8575058      movie  ...        7
tt13654950     movie  ...       17

[94842 rows x 10 columns]

In [ ]:
del title_ratings

# Load title_crew

Filter the DataFrame with the movies crew(directors and writers) on the movies that are in the movies DataFrame

In [ ]:
title_crew = pd.read_csv('/content/drive/MyDrive/My project/Dataset TSV/title.crew.tsv', sep='\t', index_col = 'tconst')

In [ ]:
title_crew

                     directors                        writers
tconst
tt0000001            nm0005690                             \N
tt0000002            nm0721526                             \N
tt0000003            nm0721526                             \N
tt0000004            nm0721526                             \N
tt0000005            nm0005690                             \N
...                        ...                            ...
tt9916848  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
tt9916850  nm5519375,nm5519454  nm6182221,nm1628284,nm2921377
tt9916852  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
tt9916856           nm10538645                      nm6951431
tt9916880            nm0996406            nm1482639,nm2586970

[8034020 rows x 2 columns]

In [ ]:
title_crew = title_crew.loc[title_crew.index.isin(title_basics.index)]

In [ ]:
title_crew

                                 directors                        writers
tconst
tt0011216                        nm0241273                      nm0217526
tt0016906                        nm0136068                             \N
tt0019996                        nm0920761                             \N
tt0062336              nm0765384,nm0749914            nm0749914,nm1146177
tt0065392  nm12030369,nm0300168,nm12030368                             \N
...                                    ...                            ...
tt9916190                        nm7308376                      nm7308376
tt9916270                        nm1480867           nm1480867,nm10538402
tt9916362                        nm1893148            nm1893148,nm3471432
tt9916428                        nm0910951                             \N
tt9916538                        nm4457074  nm4843252,nm4900525,nm2679404

[94842 rows x 2 columns]

# Load title_principals


Filter the DataFrame with the movies principals(actors, actress, director, writer and producer) on the movies that are in the movies DataFrame

In [ ]:
title_principals = pd.read_csv('/content/drive/MyDrive/My project/Dataset TSV/title.principals.tsv', sep='\t')

In [ ]:
title_principals

             tconst  ...                 characters
0         tt0000001  ...                   ["Self"]
1         tt0000001  ...                         \N
2         tt0000001  ...                         \N
3         tt0000002  ...                         \N
4         tt0000002  ...                         \N
...             ...  ...                        ...
45477841  tt9916880  ...                         \N
45477842  tt9916880  ...                         \N
45477843  tt9916880  ...                         \N
45477844  tt9916880  ...                         \N
45477845  tt9916880  ...  ["Mum","Tidy Ted","Fang"]

[45477846 rows x 6 columns]

In [ ]:
title_principals = title_principals.loc[title_principals['tconst'].isin(title_basics.index)]
title_principals = title_principals[title_principals['category'].isin(['actor','actress'])]
title_principals = pd.merge(title_principals,title_basics[['startYear','averageRating']], on = 'tconst')

In [ ]:
title_principals

           tconst  ordering  ... startYear averageRating
0       tt0011216         1  ...      2019           6.9
1       tt0011216         2  ...      2019           6.9
2       tt0011216         3  ...      2019           6.9
3       tt0011216         4  ...      2019           6.9
4       tt0016906        10  ...      2014           5.6
...           ...       ...  ...       ...           ...
317111  tt9916428         7  ...      2019           3.8
317112  tt9916538         1  ...      2019           8.3
317113  tt9916538         2  ...      2019           8.3
317114  tt9916538         3  ...      2019           8.3
317115  tt9916538         4  ...      2019           8.3

[317116 rows x 8 columns]

# Load name_basics

Filter the DataFrame with the crew names on the DataFrame with movies

In [ ]:
name_basics = pd.read_csv('/content/drive/MyDrive/My project/Dataset TSV/name.basics.tsv',sep='\t', index_col = 'nconst')

In [ ]:
name_basics

                  primaryName  ...                           knownForTitles
nconst                         ...
nm0000001        Fred Astaire  ...  tt0050419,tt0072308,tt0031983,tt0053137
nm0000002       Lauren Bacall  ...  tt0038355,tt0037382,tt0071877,tt0117057
nm0000003     Brigitte Bardot  ...  tt0057345,tt0056404,tt0054452,tt0049189
nm0000004        John Belushi  ...  tt0072562,tt0077975,tt0080455,tt0078723
nm0000005      Ingmar Bergman  ...  tt0050986,tt0069467,tt0060827,tt0050976
...                       ...  ...                                      ...
nm9993714   Romeo del Rosario  ...                                tt2455546
nm9993716       Essias Loberg  ...                                       \N
nm9993717  Harikrishnan Rajan  ...                                tt8736744
nm9993718         Aayush Nair  ...                                       \N
nm9993719          Andre Hill  ...                                       \N

[11032989 rows x 5 columns]

In [ ]:
name_basics = name_basics.loc[name_basics.index.isin(title_principals['nconst'])]

In [ ]:
name_basics

                  primaryName  ...                             knownForTitles
nconst                         ...
nm0000002       Lauren Bacall  ...    tt0038355,tt0037382,tt0071877,tt0117057
nm0000047        Sophia Loren  ...    tt0076085,tt0054749,tt0058335,tt0060121
nm0000084             Gong Li  ...    tt0430357,tt0101640,tt0397535,tt0473444
nm0000087      Elena Koreneva  ...    tt0122969,tt5847740,tt7529350,tt0123138
nm0000092         John Cleese  ...    tt0095159,tt0063929,tt0071853,tt0085959
...                       ...  ...                                        ...
nm9993484  Gaia Chon Grimaldi  ...                                         \N
nm9993485     Augusto Cortesi  ...                        tt9534676,tt9615718
nm9993616     Ryan Mac Lennan  ...                                  tt4844148
nm9993650     Marcin Balcerak  ...                                  tt8739208
nm9993693         Apsara Rani  ...  tt12856788,tt8302382,tt8737752,tt13847502

[179698 rows x 5 columns]

# Create dummy variables for genres on the title_basics dataframe

In [ ]:
title_basics = pd.merge(title_basics.drop('genres', axis = 1),title_basics['genres'].str.get_dummies(sep = ','), on = 'tconst')

In [ ]:
title_basics.head()

          titleType                primaryTitle  ... War Western
tconst                                           ...
tt1711493     movie                  Petty Cash  ...   0       0
tt1772860     movie               Late December  ...   0       0
tt1772864     movie          The Floating Lives  ...   0       0
tt1772924     movie  Jeans, une planète en bleu  ...   0       0
tt1468387     movie                  What If...  ...   0       0

[5 rows x 36 columns]

# Export Filtered dataframes to csv

In [ ]:
title_basics.to_csv('movies_info.csv')

In [ ]:
title_crew.to_csv('movies_crew.csv')

In [ ]:
title_principals.to_csv('movies_actors.csv', index=False)

In [ ]:
name_basics.to_csv('crew_names.csv')